
@font-face {
 font-family: 'Forum';
 src: url(@/assets/Forum-Regular.ttf) format('truetype' or 'opentype');
}

@font-face {
 font-family: 'Raleway';
 src: url(@/assets/Raleway-Regular.ttf) format('truetype' or 'opentype');
}